<template>
	<view class="content">
		<view class="top">
			<image src="../../static/Group 9097 (1).png" style="width: 180rpx;height: 100rpx;margin-top: 54rpx;" mode=""></image>
			<view class="bigLogo" style="width: 100%;margin-top: 20rpx;">
				<span style="font-size: 48rpx;font-weight: 800;margin-top: 20rpx;text-align: center;">VHOST {{$lang('主播工厂')}}&nbsp;&nbsp;&nbsp;</span>     <span style="font-size: 28rpx;font-weight: 400;">&nbsp;&nbsp;&nbsp;{{$lang('体验版')}}</span>
			</view>
			<view class="pc" @click="onCopy">
				PC{{$lang('专业版')}}  >
			</view>
			<view class="" style="width: 100%;display: flex;justify-content: center;align-items: center;">
				<view class="lang" @click="changeLang('zh')" style="margin-left: 0rpx;">
				中文
			</view>
			<view class="lang" @click="changeLang('en')" style="padding: 20rpx 40rpx;">
				English
			</view>
			<!-- <view class="lang">
				日本語
			</view> -->
			</view>
			
			<p class="text">{{$lang('简介')}}</p>
			<view class="dingweiBtn">
				<view class="ingBtn" v-if="showFlag">
				{{$lang('形象制作中')}}
				<!-- </view> -->
				</view>
			<view class="yuan">
				<view class="yuan2">
					<view class="yuan3">
						<video :src="videoUrl" uni-video-cover-play-button :show-center-play-btn="true" poster="../../static/0000041.png" id="myVideo" controls ref="video" class="mp4" :autoplay="autoPlay"  :loop="loopPlay"></video>
						<uni-video-cover-play-button v-if="playButtonFlag" @click.sync="ing" class="playButton" video-id="myVideo"></uni-video-cover-play-button>
					</view>
				</view> 
			</view>
			</view>
			
			<view class="btnDiv" :style="computedStyle">
				 <view @click="videoPlay(item)" :class="item.id == 195 ? 'youshi' : item.id == 194 ? 'changjing' : 'btns'" v-for="(item,index) in mp4Data" :key="index">
				 	{{item.fileName}}
				 </view>
				 <view class="yinse" @click="fileBtn(item,index)" v-for="(item,index) in voiceData" :key="index" :style="{background:item.btnColorFlag  ? 'rgba(102, 81, 124, 1)' : ''}">
				 	{{item.audioName}}
				 </view>
			</view>
			<view class="inputDiv">
				<textarea class="textInput" v-model="textInput" maxlength="140" @input="inputCount" 
				placeholder="输入播报内容，直播主播可实时播报，
Enter content, host real-time broadcast.
コンテンツ入力、ホスト実時放送。"></textarea>
			<view class="actionBtn" @click="action">
				{{$lang('制作')}}
			</view>
			<p class="numCount">{{textCount}}{{$lang('字数')}}</p>
			</view>
			<view class="dingzhi">
				{{$lang('定制主播数字人')}}
			</view>
			<view class="bottom">
				<video :src="languageType == 'zh' ? 'https://digit-person.oss-cn-beijing.aliyuncs.com/virtual_human/1717587702827.mp4' : 'https://digit-person.oss-cn-beijing.aliyuncs.com/virtual_human/1717587987106.mp4'" poster="../../static/119f776c812166c4f5d5a4b0f29f1d7.png" class="dingzhiMp4"></video>
			<view class="yaoqiu">
				{{$lang('等待')}}{{time ? time : '7-9' }}{{$lang('时间')}}<br /> {{$lang('注意')}}
			</view>
			<view class="uploadBtn" @click="upVido">
				{{$lang('上传视频')}}
			</view>
			</view>
		</view>
		<view class="bottom33">
			<view class="bottomText">
			<view class="logoBottom">
				<image src="../../static/WechatIMG20_1 (1).png" style="width: 192rpx;height: 62rpx;margin-top: 60rpx;margin-left: 66rpx;" mode=""></image>
				<view class="bottomText2">
					<p>{{$lang('业务咨询')}}：17600222111 </p>
					<p style="margin-top: 20rpx;">{{$lang('企业邮箱')}}：duhuiyi@bjszlc.top</p>
					<p style="margin-top: 20rpx;">{{$lang('公司地址')}}</p>
				</view>
				<view class="bottom22">
					<p style="margin-top: 20rpx;">{{$lang('备案')}}</p> 
					<p style="margin-top: 20rpx;">{{$lang('公司')}}</p> 
					<p style="margin-top: 20rpx;">All Rights Reserved.</p>
				</view>
			</view>
		</view>
		</view>
		
	</view>
</template>

<script>
	import axios from 'axios'
	export default {
		data() {
			return {
				axiosUrl:'https://vhost.aidigitalfield.com',
				textCount:140,
				textInput:'',
				mp4Data:[],
				fileData:{},
				voiceData:[],
				voice:'',
				people:[],
				videoUrl:"",
				btnColorFlag:'',
				btnFlag:false,
				moteList:{},
				time:'',
				width:'',
				autoPlay:true,
				showFlag:false,
				playButtonFlag:true,
				taskId:'',
				intervalId:null,
				intervalIdNum:null,
				count:0,
				remainModelNum:null,
				loopPlay:false,
				languageType:'zh',
			}
		},
		onLoad() {
			this.getMp4()
			this.getSound()
			this.getVideo()
		},
		onShow(){
			if(uni.getStorageSync('token')){
				this.getNumPeople()
				this.getUserCount()
				// this.getxunlian()
				this.startGetNumPeople()
			}
		},
		onUnload(){
			this.stopInterval()
			this.stopGetNumPeople()
		},
		  computed: {
		    computedStyle() {
		      return {
		        width:this.width+'px',
				justifyContent: this.languageType == 'en' ? 'center' : ''
		      }
		    } 
		  },
		mounted(){
			const element = document.createElement('view');
			element.innerHTML = '<view id="myDiv" class="myClass"></view>'
			const eleme = document.createElement('view');
			const yuan = document.createElement('view');
			eleme.innerHTML = '<view id="myDiv" class="myClass"></view>'
			yuan.innerHTML = '<view id="myDiv" class="myClass2"></></view>'
			let ele = document.getElementsByClassName('uni-video-cover-play-button')
			let ele2 = document.getElementsByClassName('uni-video-container')
			ele2[0].appendChild(element.firstChild);
			ele2[0].appendChild(yuan.firstChild);
			ele[1].appendChild(eleme.firstChild);
			const query = uni.createSelectorQuery().in(this);
			query.select('.textInput')
			query.select('.textInput').boundingClientRect(data=>{
				if(data){
					this.width = data.width
				}
			}).exec()
			 let myClass2 = document.getElementsByClassName('myClass2')
			 if(myClass2){
				 myClass2[0].addEventListener('click', this.ing2);
			 }
		},
		methods: {
			changeLang(lang){
				this.$setlanguage(lang);
				this.$forceUpdate()
				console.log(this.$getlanguage());
				this.languageType = this.$getlanguage()
				this.getMp4()
				this.getSound()
				this.getVideo()
				let myClass2 = document.getElementsByClassName('myClass2')
				let playButton = document.getElementsByClassName('playButton')
				myClass2[0].style.display = 'none'
				playButton[0].style.display = 'none'
			},
			async getUserCount(){
				let t = this
				const instance = axios.create();
				instance.defaults.headers.common['X-Access-Token'] = uni.getStorageSync('token') 
				instance.defaults.headers.common['Project-Source'] = 'digital-h5'
				let dataRes = instance.get(`${this.axiosUrl}/api/user/getUserInfo`).then(res=>{
					if(res.data.code === 200){
						t.remainModelNum = res.data.data.remainModelNum
					}
				})
			},
			async getVideoStatus(){
				let t = this
				let data = {taskId:this.taskId}
				let dataRes = await axios.post(`${this.axiosUrl}/api/video/get_video_status`,data).then(res=>{
					if(res.data.code == 200){
						if(res.data.data.videoUrl){
							t.videoUrl = res.data.data.videoUrl
							t.loopPlay = false
							t.count = 0
							let myClass2 = document.getElementsByClassName('myClass2')
							let playButton = document.getElementsByClassName('playButton')
							myClass2[0].style.display = 'none'
							playButton[0].style.display = 'none'
							t.stopInterval()
						}
					}
				})
			},
			startInterval(){
				this.intervalId = setInterval(this.getVideoStatus, 3000);
			},
			stopInterval() {
			      if (this.intervalId) {
			        clearInterval(this.intervalId);
			      }
			    },
			ing(){
				this.autoPlay = true
				this.$refs.video.play()
				this.loopPlay = false
				this.playButtonFlag = false
				let myClass2 = document.getElementsByClassName('myClass2')
				let playButton = document.getElementsByClassName('playButton')
				myClass2[0].style.display = 'none'
				playButton[0].style.display = 'none'
			},
			ing2(){
				this.autoPlay = true
				this.$refs.video.play()
				this.loopPlay = false
				this.playButtonFlag = false
				let myClass2 = document.getElementsByClassName('myClass2')
				let playButton = document.getElementsByClassName('playButton')
				myClass2[0].style.display = 'none'
				playButton[0].style.display = 'none'
			},
			async getxunlian(){
				let t = this
				const instance = axios.create();
				instance.defaults.headers.common['X-Access-Token'] = uni.getStorageSync('token') 
				instance.defaults.headers.common['Project-Source'] = 'digital-h5'
				let dataRes = await instance.get(`${this.axiosUrl}/api/digital/newTrainStatus`,{}).then(res=>{
					if(res.data.code == 200){
						this.$refs.video.play()
					}else if(res.data.code == 401){
						// uni.setStorageSync('token', '')
						uni.showToast({
						    title: res.data.message,
						    icon: 'error',
						    duration: 2000
						});
					}
				})
			},
			videoPlay(item){
				const videoContext = uni.createVideoContext('myVideo', this);
				      videoContext.seek(0)				  
				this.videoUrl = item.origVideoOssPath
				this.autoPlay = true
				this.$refs.video.play()
				this.loopPlay = false
				let myClass2 = document.getElementsByClassName('myClass2')
				let playButton = document.getElementsByClassName('playButton')
				myClass2[0].style.display = 'none'
				playButton[0].style.display = 'none'
			},
			async action(){
				let t = this
				let data = {
					"digitalId": t.digitalId,
					"textContent": t.textInput,
					"voice": t.voice.templateId ? t.voice.templateId : t.voiceData[0].templateId
				}
				const instance = axios.create();
				instance.defaults.headers.common['X-Access-Token'] = uni.getStorageSync('token')
				instance.defaults.headers.common['Project-Source'] = 'digital-h5'
				t.textInput = ''
				t.textCount = 140
				t.videoUrl = t.languageType == 'zh' ? 'https://digit-person.oss-cn-beijing.aliyuncs.com/virtual_human/1717587680175.mp4' : 'https://digit-person.oss-cn-beijing.aliyuncs.com/virtual_human/1717587967927.mp4'
				t.autoPlay = true
				t.$refs.video.play()
				t.loopPlay = true
				let myClass2 = document.getElementsByClassName('myClass2')
				let playButton = document.getElementsByClassName('playButton')
				myClass2[0].style.display = 'none'
				playButton[0].style.display = 'none'
				if(this.count>0){
					uni.showToast({
					    title: t.$lang('稍等'),
					    icon: 'error',
					    duration: 2000
					});
					return
				}
				this.count++;
				let dataRes = await instance.post(`https://vhost.aidigitalfield.com/api/video/createWithTTS`,data).then(res=>{
					if(res.data.code == 200){
						if(res.data.data){
							t.autoPlay = true
							t.$refs.video.play()
							t.textInput = ''
							t.taskId = res.data.data.taskId
							t.startInterval()
						}
						
						
					}else{
						uni.showToast({
						    title: res.data.message,
						    icon: 'error',
						    duration: 2000
						});
					}
				})
				
			},
			fileBtn(item,index){
				let t = this
				this.voiceData.forEach((v,i)=>{
					v.btnColorFlag = false
				})
				this.videoUrl = item.voiceUrl
				this.fileType = item.fileType
				this.autoPlay = true
				this.$refs.video.play()
				this.loopPlay = false
				let myClass2 = document.getElementsByClassName('myClass2')
				let playButton = document.getElementsByClassName('playButton')
				myClass2[0].style.display = 'none'
				playButton[0].style.display = 'none'
				this.voiceData[index].btnColorFlag = !this.voiceData[index].btnColorFlag
				this.fileData = item
				this.voice = item
				t.$forceUpdate()
			},
			async getMp4(){
				let t = this
				uni.showLoading({
					title: t.$lang('加载')+'...'
				})
				let params = {
					languageType:t.languageType == 'en' ? 'english' : 'chinese'
				}
				let dataRes = await axios.get(`https://vhost.aidigitalfield.com/api/digital/queryInVideoList`, {params}).then(res=>{
					if(res.data.code==200){
						t.mp4Data = res.data.data
					}
				}).finally(()=>{
					uni.hideLoading()
				})
				
			},
			async getSound(){
				let t = this
				let params = {
					languageType:t.languageType == 'en' ? 'english' : 'chinese'
				}
				let dataRes = await axios.get(`${this.axiosUrl}/api/digital/queryInVoiceList`, {params}).then(res=>{
					if(res.data.code == 200){
						t.voiceData = res.data.data
					}
				})
				t.voiceData.forEach((item,index)=>{
					item.btnColorFlag = false
				})
				t.voiceData[0].btnColorFlag = true
			},
			async getVideo(){
				let t = this
				let params = {
					languageType:t.languageType == 'en' ? 'english' : 'chinese'
				}
				let dataRes = await axios.get(`${this.axiosUrl}/api/digital/getFreePersonList`, {params}).then(res=>{
					if(res.data.code==200){
						this.people = res.data.data
					if(this.people[0].generalPreviewUrl && res.data.code == 200 && !this.videoUrl){
						console.log(11111)
						this.videoUrl = this.people[0].generalPreviewUrl
						this.digitalId = this.people[0].digitalId
					}
					if(t.$refs.video && this.people[0].generalPreviewUrl){
						t.autoPlay = true
						t.$refs.video.play()
						t.loopPlay = false
					}
					}
					
				})
			},
			inputCount(){
				this.textCount = 140 - this.textInput.length
			},
		onCopy() {
					uni.setClipboardData({
						data: 'http://aidigitalfield.com',
						success: function() {
							uni.showToast({
								title: this.$lang('复制'),
								icon: 'none',
								duration: 2000
							});
						}
					});
				},
				async getNumPeople(){
					const instance = axios.create();
					instance.defaults.headers.common['X-Access-Token'] = uni.getStorageSync('token')
					instance.defaults.headers.common['Project-Source'] = 'digital-h5'
					let dataRes = await instance.get(`${this.axiosUrl}/api/digital/getSuccessPersonList`).then(res=>{
						if(res.data.code === 200){
							this.moteList = res.data.data
							if(res.data.data.makeTime){
								this.time = res.data.data.makeTime
							}console.log(22222)
						if(this.moteList.generalPreviewUrl){
							this.videoUrl = this.moteList.generalPreviewUrl
							this.stopGetNumPeople()
						}
						if(this.moteList.digitalId && this.moteList.generalPreviewUrl){
							this.digitalId = this.moteList.digitalId
						}
						if(this.moteList.status&&this.moteList.status!=="SUCCESS" ){
							this.showFlag = true
						}else{
							this.showFlag = false
						}
						}else if(res.data.code === 401){
							uni.showToast({
								title: res.data.message,
								icon: 'fail',
								duration: 3000
							})
							uni.navigateTo({
								url: '/pages/login/login'
							})
						}
						
						
					}).catch(err=>{
						console.log(err)
						uni.navigateTo({
							url: '/pages/login/login'
						})
					})
				}, 
				// 十分钟查询一次数字人是否训练成功
				startGetNumPeople(){
					this.intervalIdNum = setInterval(this.getNumPeople, 600000);
				},
				stopGetNumPeople(){
					if (this.intervalIdNum) {
					        clearInterval(this.intervalIdNum);
					      }
				},
					upVido() {
						let isLogin = uni.getStorageSync('token')
								let t = this
								if (!isLogin) {
									uni.showToast({
										title: t.$lang('请登录')+'!',
										icon: 'none',
										duration: 2000
									});
									uni.navigateTo({
										url: '/pages/login/login'
									})
									return
								}
								// t.getUserCount()
								if(t.remainModelNum<1){
									uni.showToast({
										title: t.$lang('个数不足')+'!',
										icon: 'none',
										duration: 2000
									});
									return
								}
								const instance = axios.create();
								instance.defaults.headers.common['X-Access-Token'] = uni.getStorageSync('token')
								instance.defaults.headers.common['Project-Source'] = 'digital-h5'
								var formdata1 = new FormData();
								// 1.选择要上传的视频
								uni.chooseVideo({
									sourceType: ['album', 'camera'], // album 从相册选视频，camera 使用相机拍摄，默认为：['album', 'camera']
									success(res) {
										t.uploadFile = res
										// tempFilePath
										// tempFile
										
										formdata1.append('file', res.tempFile); // 将图片文件添加到FormData对象中
										let config = {
											headers: {
												'Content-Type': 'multipart/form-data'
											}
										}
										uni.showLoading({
											title: t.$lang('上传中')+'...',
											// duration: 3000
										})
										instance.post(`https://vhost.aidigitalfield.com/api/digital/fileUpload`, formdata1, config).then((
												res) => {
													uni.hideLoading()
												if (res.data.code == 200) {
													t.time = res.data.data.makeTime
													uni.showToast({
														title: t.$lang('上传成功'),
														icon: 'success',
														duration: 3000
													})
													// t.getNumPeople()
													t.startGetNumPeople()
													uni.hideLoading()
												} else if(res.data.code == 401){
													uni.hideLoading()
												} else {
													uni.showToast({
														title: res.data.message,
														icon: 'fail',
														duration: 3000
													})
														uni.hideLoading()
												}
												uni.hideLoading()
											})
											.catch((err) => {
												// console.log(err,'err')
												uni.hideLoading()
												uni.showToast({
													title: res.data.message,
													icon: 'error',
													duration: 3000
												})
											})
									},
								});
							}	
		}
	}
</script>

<style lang="scss" scoped>
	.content {
		// display: flex;
		// flex-direction: column;
		// align-items: center;
		// justify-content: center;
		// position: relative;
		// padding-bottom: 20rpx;

		.top{
			padding-left: 48rpx;
			padding-right: 48rpx;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
		}
		.bottom33{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			margin-top: 54rpx;
		}
		.bigLogo{
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
	}

	.pc{
		font-weight: 400;
		font-size: 28rpx;
		width: 292rpx;
		height: 80rpx;
		margin-top:20rpx;
		background-color: rgba(123, 104, 238, 1);
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(255, 255, 255, 1);
		border-radius: 12rpx;
	}
		
	.text{
		width: 634rpx;
		height: 232rpx;
		line-height: 50rpx;
		margin-top: 40rpx;
		font-weight: 500;
		font-size: 28rpx;
		color: rgba(0, 0, 0, 1);
		position: relative;
	}
	.dingweiBtn{
		position: relative;
		.ingBtn{
		width: 172rpx;
		height: 72rpx;
		background-color: rgba(123, 104, 238, 1);
		// border-radius: 12rpx;
		border-top-left-radius: 12rpx;
		border-bottom-left-radius: 12rpx;
		position: absolute;
		left: -8rpx;
		top: 32rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 24rpx;
	}
	}
	
	.yuan{
		width: 622rpx;
		height: 622rpx;
		border-radius: 50%;
		border: 2rpx solid rgba(96, 129, 247, 1);
		margin-top: 32rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url('../../static/Group 9057.png');
		background-size: 100% 100%;
		background-position: center;
		position: relative;
		.yuan2{
			.yuan3{
				/deep/.playButton{
					    width: 118rpx;
					    height: 118rpx;
					    display: inline-block;
					    background: rgba(255, 255, 255, 0.8);
					    border-radius: 50%;
					    position: absolute;
						    left: 47%;
						    top: 41%;
				}
				.mp4{
					width: 367rpx;
					height: 652rpx;
					position: absolute;
					top: -45rpx;
					left: 154rpx;
					border: 2rpx solid rgba(123, 104, 238, 1);
					/deep/.uni-video-cover-duration {
					}
					/deep/.uni-video-cover{
						background-color: rgba(0, 0, 0, 0);
					}
					/deep/.uni-video-cover-play-button{
						width:104rpx;
						height:104rpx;
						background:rgba(255, 255, 255, 0.8);
						border-radius: 50%;
						position: relative;
						.myClass{
							    width: 0;
							    height: 0;
							    border-left: 49rpx solid black;
							    border-bottom: 30rpx solid transparent;
							    border-top: 30rpx solid transparent;
							    display: inline-block;
								position: absolute;
								opacity: 0.5;
								left: 34%;
								top: 24%;
								background: rgba(0, 0, 0, 0);
								
								
						}
					}
					/deep/.myClass1{
							    width: 0;
							    height: 0;
							    border-left: 49rpx solid black;
							    border-bottom: 30rpx solid transparent;
							    border-top: 30rpx solid transparent;
							    display: inline-block;
								position: absolute;
								opacity: 0.5;
								left: 50%;
								top: 50%;
								z-index: 1;
								background: rgba(0, 0, 0, 0);
						}
						/deep/.myClass2{
							   width: 0;
							       height: 0;
							       border-left: 49rpx solid black;
							       border-bottom: 30rpx solid transparent;
							       border-top: 30rpx solid transparent;
							       display: inline-block;
							       position: absolute;
							       opacity: 0.5;
							       left: 50%;
							       top: 50%;
							       z-index: 1;
							       background: rgba(0, 0, 0, 0);
						}
						/deep/.class11{
							width: 0;
							height: 0;
						}
					/deep/.uni-video-container{
						  background-color: rgba(255, 255, 255, 0); /* 完全透明 */
						.uni-video-cover{
							
						}
					}
				}
			}
		}
	}
	.lang{
		background-color: rgba(123, 104, 238, 1);
		// margin-left: 18rpx;
		font-size: 24rpx;
		color: white;
		padding:18rpx 44rpx;
		display: flex;
		margin-left: 10rpx;
		align-items: center;
		justify-content: center;
		border-radius: 12rpx;
		margin-top: 8rpx;
	}
	.btnDiv{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin-top: 28rpx;
		margin-left: -20rpx;
		.btns{
			background-color: rgba(123, 104, 238, 1);
			// margin-left: 18rpx;
			font-size: 24rpx;
			color: white;
			padding:18rpx 44rpx;
			display: flex;
			margin-left: 10rpx;
			align-items: center;
			justify-content: center;
			border-radius: 12rpx;
			margin-top: 8rpx;
		}
		.youshi{
			background-color: rgba(123, 104, 238, 1);
			// margin-left: 18rpx;
			font-size: 24rpx;
			color: white;
			padding: 18rpx 48rpx;
			display: flex;
			margin-left: 10rpx;
			align-items: center;
			justify-content: center;
			border-radius: 12rpx;
			margin-top: 8rpx;
		}
		.changjing{
			background-color: rgba(123, 104, 238, 1);
			// margin-left: 18rpx;
			font-size: 24rpx;
			color: white;
			padding: 18rpx 52rpx;
			display: flex;
			margin-left: 10rpx;
			align-items: center;
			justify-content: center;
			border-radius: 12rpx;
			margin-top: 8rpx;
		}
		.yinse{
			background-color: rgba(0, 0, 0, 1);
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			padding:18rpx 25rpx;
			border-radius: 12rpx;
			margin-top: 8rpx; 
			margin-left: 12rpx;
			font-size: 24rpx;
		}
		.tianmei{
			background-color: rgba(0, 0, 0, 1);
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			padding:18rpx 26rpx;
			border-radius: 12rpx;
			margin-top: 8rpx;
			margin-left: 10rpx;
			font-size: 24rpx;
		}
		
	}
	.inputDiv{
		position: relative;
			.textInput{
				.uni-textarea-placeholder{
				font-size: 24rpx;
				padding: 20rpx;
				padding-bottom: 90rpx;
				box-sizing: border-box;
			}
			}
		.textInput{
		width: 620rpx;
		height: 250rpx;
		border:2rpx solid rgba(185, 190, 199, 1);
		margin-top: 38rpx;
		padding-bottom: 90rpx;
		box-sizing: border-box;
		border-radius: 12rpx;
		font-size: 24rpx;
		/deep/.uni-textarea-textarea{
			padding: 20rpx;
			box-sizing: border-box;
		}
	}
	.actionBtn{
		position: absolute;
		height: 72rpx;
		padding:0 50rpx;
		background: rgba(123, 104, 238, 1);
		border-radius: 12rpx;
		color: white;
		display: flex;
		align-items: center;
		font-size:24rpx;
		justify-content: center;
		right: 10rpx;
		bottom: 10rpx;
	}
	.numCount{
		position: absolute;
		right: 170rpx;
		bottom: 16rpx;
		font-size: 24rpx;
		color: rgba(185, 190, 199, 1);
	}
	}
	
	.dingzhi{
		font-size: 32rpx;
		font-weight: 800;
		margin-left: 40rpx;
		width: 100%;
		margin-top: 24rpx;
	}
	.bottom{
		display: flex;
		align-items: center;
		position: relative;
		.dingzhiMp4{
		width: 346rpx;
		height: 436rpx;
		margin-top: 24rpx;
		margin-left: 10rpx;
		/deep/.uni-video-cover-duration {
			display: none;
		}
		/deep/.uni-video-cover{
			background-color: rgba(0, 0, 0, 0);
		}
		/deep/.uni-video-container{
			  background-color: rgba(255, 255, 255, 0); /* 完全透明 */
		}
		/deep/.uni-video-cover-play-button{
			width:104rpx;
			height:104rpx;
			background:rgba(255, 255, 255, 0.8);
			border-radius: 50%;
			position: relative;
			.myClass{
				    width: 0;
				    height: 0;
				    border-left: 49rpx solid black;
				    border-bottom: 30rpx solid transparent;
				    border-top: 30rpx solid transparent;
				    display: inline-block;
					position: absolute;
					opacity: 0.5;
					left: 34%;
					top: 24%;
					background: rgba(0, 0, 0, 0);
			}
		}
	}
	
	.yaoqiu{
		font-size: 28rpx;
		width: 240rpx;
		height: 318rpx;
		margin-left: 42rpx;
		color: rgba(84, 84, 84, 1);
	}
	.uploadBtn{
		padding:18rpx 26rpx;
		position: absolute;
		right: 0rpx;
		box-sizing: border-box;
		width: 252rpx;
		bottom:2rpx;
		background: rgba(123, 104, 238, 1);
		color: white;
		border-radius: 12rpx;
		font-size: 24rpx;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	}
	.bottomText{
		width: 100%;
		height: 530rpx;
		border-top: 2rpx solid rgba(0, 0, 0, 1);
		margin-top: 30rpx;
		border-bottom-left-radius: 12rpx;
		border-bottom-right-radius: 12rpx;
		.logoBottom{
			height: 324rpx;
			width: 100%;
		}
		.bottomText2{
			font-size: 24rpx;
			margin-left: 66rpx;
			margin-top:14rpx;
		}
		.bottom22{
			width: 100%;
			height: 240rpx;
			background: rgba(246, 247, 251, 1);
			margin-top: 20rpx;
			text-align: center;
			font-size: 20rpx;
			padding-top: 20rpx;
			box-sizing: border-box;
			color: rgba(144, 144, 144, 1);
		}
	}
	
</style>
