<template>
	<view class="login">
		<view class="login_box">
			<image class="logo" src="../../static/WechatIMG20_1 (1).png" mode=""></image>
			<view class="phone_box">
				<view class="a_">
					+86
				</view>
				<view class="xian">

				</view>
				<input class="inp" v-model="phone" placeholder="请输入手机号码" type="number" maxlength="11" />
			</view>
			<view class="msg_box">


				<input class="inp" v-model="code" placeholder="请输入验证码" type="number" maxlength="11" />
				<view class="xian">

				</view>
				<!-- 	<view class="text" @click="get_code" v-if="code_text=='发送验证码'">
					{{code_text}}
				</view>
				<view class="text" v-else>
					{{code_text}}
				</view> -->

				<view class="msg_btn"  :class="code_text=='验证码' ? '' : 'diable'" @click="code_text=='验证码' ? get_code() : ''">
					{{code_text}}
				</view>
				<!-- <view class="msg_btn" v-else>
					{{code_text}}
				</view> -->
			</view>
			<view class="yingshi">
				<view class="ckh" @click="on_ckh">
					{{ckh}}
				</view>
				<view :style="{color:ckh == '✓'?'#4D505D':'#C4C4C4'}">
					已同意 《用户条款》 及 《隐私政策》
				</view>
			</view>
			<view class="btn" @click="btn">
				登录
			</view>
		</view>
	</view>
</template>

<script>
	import axios from 'axios'
	export default {
		data() {
			return {
				phone: '',
				code_text: '验证码',
				ckh: '',
				code:'',
				axioUrl:'https://vhost.aidigitalfield.com'
			}
		},
		methods: {
			on_ckh() {
				if (this.ckh == '✓') {
					this.ckh = ''
				} else {
					this.ckh = '✓'
				}
			},
			async get_code() {
				if (this.phone == '' ) {
					uni.showToast({
						title: '请输入正确的手机号',
						icon: 'none',
						duration: 3000
					})
					return
				}
				let data = {
					phone: this.phone
				}
				let dataRes = await axios.post(`https://vhost.aidigitalfield.com/api/digital/sms`, data)
				uni.showToast({
					title: dataRes.data.message,
					icon: 'none',
					duration: 3000
				})
				if (dataRes.data.code != 200) {
					return
				}

				let time = 30
				let interval = setInterval(() => {
					time = time - 1
					if (time == 0) {
						this.code_text = '验证码'
						clearInterval(interval)
						return
					}
					this.code_text = `${time}s`
				}, 1000)


			},
			btn() {
				if (this.ckh == '') {
					uni.showToast({
						title: '请勾选隐私协议',
						icon: 'none',
						duration: 3000
					})
					return
				}
					if (this.phone == '' && this.phone.length < 11) {
									uni.showToast({
										title: '请输入正确的手机号',
										icon: 'none',
										duration: 3000
									})
									return
								}
								if (this.code == '') {
									uni.showToast({
										title: '请输入验证码',
										icon: 'none',
										duration: 3000
									})
									return
								}
								let data = {
									captcha: this.code,
									phone: this.phone
								}
								axios.post(`${this.axioUrl}/api/digital/phoneLogin`, data).then(res => {
									if (res.data.code == 200) {
										uni.setStorageSync('phone',this.phone)
										uni.setStorageSync('captcha',this.code)
										uni.setStorageSync('token', res.data.data.token)
										uni.redirectTo({
											url: '/pages/index/index'
										})
									} else {
										uni.showToast({
											title: res.data.message,
											icon: 'none',
											duration: 3000
										})
									}
								})
				
			}
		}
	}
</script>

<style scoped lang="scss">
	.login {
		width: 100vw;
		height: 100vh;
		padding-top: 562rpx;
		box-sizing: border-box;
		background-image: url('../../static/image 4.png');
		background-size: cover;
		// background-size: 100% 100%;

		.login_box {
			width: 640rpx;
			height: 500rpx;
			margin-left: 54rpx;
			background-color: #fff;
			padding: 34rpx 40rpx;
			box-sizing: border-box;

			.logo {
				display: block;
				width: 192rpx;
				height: 62rpx;
				margin: 0 auto;
				// background-color: red;

			}

			.phone_box {
				width: 560rpx;
				height: 80rpx;
				padding: 20rpx 32rpx;
				box-sizing: border-box;
				border: 1rpx solid #000000;
				display: flex;
				align-items: center;
				margin-top: 20rpx;

				.a_ {
					font-family: PingFang SC;
					font-size: 28rpx;
					letter-spacing: -0.6000000238418579rpx;
					color: #4D505D;


				}

				.xian {
					width: 1rpx;
					height: 28rpx;
					border-right: #C4C4C4 solid 1rpx;
					margin-left: 16rpx;

				}

				.inp {
					margin-left: 16rpx;
					font-family: PingFang SC;
					font-size: 28rpx;
					letter-spacing: -0.6000000238418579rpx;
					color: #4D505D;
				}
			}

			.msg_box {
				width: 560rpx;
				height: 80rpx;
				padding: 20rpx 32rpx;
				box-sizing: border-box;
				border: 1rpx solid #000000;
				display: flex;
				align-items: center;
				margin-top: 12rpx;

				.xian {
					width: 1rpx;
					height: 28rpx;
					border-right: #C4C4C4 solid 1rpx;
					margin-left: 16rpx;
				}

				.inp {
					font-family: PingFang SC;
					font-size: 28rpx;
					letter-spacing: -0.6000000238418579rpx;
					color: #4D505D;
					flex: 1;
				}

				.msg_btn {
					width: 118rpx;
					font-family: PingFang SC;
					font-size: 28rpx;
					letter-spacing: -0.6000000238418579rpx;
					text-align: center;
					color: #4D505D;
					font-weight: 700;
				}
				.diable{
					width: 118rpx;
					font-family: PingFang SC;
					font-size: 28rpx;
					letter-spacing: -0.6000000238418579rpx;
					text-align: center;
					color: #ccc;
					font-weight: 700;
				}
			}

			.yingshi {
				margin: 0 auto;
				display: flex;
				align-items: center;
				font-family: PingFang SC;
				font-size: 24rpx;
				font-weight: 700;
				color: #C4C4C4;
				margin-top: 20rpx;
				display: flex;

				// justify-content: center;
				.ckh {
					width: 30rpx;
					height: 30rpx;
					background: #D9D9D9;
					border: 1rpx solid #000000;
					margin-right: 16rpx;
					margin-left: 32rpx;
					text-align: center;
					color: #4D505D;
				}
			}

			.btn {
				width: 224rpx;
				height: 80rpx;
				border-radius: 8rpx;
				background: #000000;
				font-family: Epilogue;
				font-size: 28rpx;
				font-weight: 700;
				line-height: 80rpx;
				text-align: center;
				color: #FCFCFC;
				margin: 0 auto;
				margin-top: 32rpx;

			}
		}
	}
</style>